<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {{ page_title -}}
      {%- if current_tags %}
        &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %}
        &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %}
        &ndash; {{ shop.name }}{% endunless -%}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}" />
    {% endif %}
    {{ content_for_header }}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
    {{ 'bootstrap.min.css' | asset_url | stylesheet_tag }}
    {{ 'splide-core.min.css' | asset_url | stylesheet_tag }}
    {{ 'style.css' | asset_url | stylesheet_tag }}
    {{ 'media-queries.css' | asset_url | stylesheet_tag }}
  </head>
  <body>
    {% render 'header' %}
    {{ content_for_layout }}
    {% render 'footer' %}
    <script src="{{'tcrs-marks.min.js' |  asset_url}}" defer></script>
    <script src="{{'toolcool-range-slider.min.js' |  asset_url}}" defer></script>
    <script src="{{'bootstrap.min.js' |  asset_url}}" defer></script>
    {% comment %} <script>
              window.shopMoneyFormat = {{ shop.money_format | json }};
        </script> {% endcomment %}
    <script
      type="module"
      src="{{ 'scripts.js' | asset_url }}"
      defer></script>
  </body>
</html>