<footer class="section-padding">
  <div class="custom-container">
    <div class="row pb-3 border-bottom">
      <div class="col-12  d-flex align-items-center justify-content-center">
        <img
          src={{'flutura-logo-lg.svg' | asset_url}}
          width="104"
          height="50"
          id="nav-logo"
          alt="" />
      </div>
      {% if linklists.footer.links.size > 0 %}
        <div class="col-md-12 col-8">
          <div class="row d-md-none d-flex">
            {% for link in linklists.footer.links %}
              <a href="{{ link.url}}" class="pe-2">{{ link.title }}</a>
            {% endfor %}
          </div>


          <div class="row d-md-flex d-none pt-3">
            <div class="col-12 d-flex justify-content-center">
              {% for link in linklists.footer.links %}
                <a href="{{ link.url}}" class="pe-2">{{ link.title }}</a>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endif %}
    </div>
    <div class="row py-3">
      <div class="col-md-4 col-12 order-md-1 order-3">
        <p class="text-md-start text-center">
          <a href="{{ section.settings.company_url }}" target="_blank">{{ section.settings.copyright_text }}</a>
        </p>
      </div>
      <div class="col-md-4 col-12 order-md-2 order-1">
        <div class="d-flex align-items-center justify-content-center">
          <a href="{{ section.settings.instagram_url }}" class="pe-3">
            <img
              src="{{'instagram.svg' | asset_url}}"
              width="24"
              height="24"
              class="socialLogo"
              alt="instagram" />
          </a>
          <a href="{{ section.settings.facebook_url }}" class="pe-3">
            <img
              src="{{'facebook.svg' | asset_url}}"
              width="24"
              height="24"
              class="socialLogo"
              alt="Facebook" />
          </a>

          <a href="{{ section.settings.tiktok_url }}" class="">
            <img
              src="{{'tik-tok-blue.png' | asset_url}}"
              width="24"
              height="24"
              class="socialLogo"
              alt="instagram" />
          </a>
        </div>
      </div>
      <div class="col-md-4 col-12 d-flex justify-content-md-end flex-wrap justify-content-center order-md-3 order-2 py-md-0 py-3">
        {% for link in linklists.bottom-menu.links %}
          <a href="{{link.url}}" class="pe-sm-3 px-1 pt-sm-0 pt-2">{{ link.title }}</a>
        {% endfor %}
      </div>
    </div>
  </div>
    <div class="row">
  <div class="col-12 d-flex flex-column justify-content-center align-items-center py-2">
    <span style="font-size: 13px; color: #666; margin-bottom: 4px;">Mundësi pagese me:</span>
    <img 
      src="{{ 'paysera_logo.png' | asset_url }}" 
      alt="Paysera" 
      style="height: 24px; width: auto;" 
    />
  </div>
</div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "text",
        "id": "copyright_text",
        "label": "Copyright Text",
        "default": "2025 Flutra © Powered by Pixel Reach LLC"
      },
      {
        "type": "text",
        "id": "company_url",
        "label": "Company URL",
        "default": "https://pixelreach.io/"
      },

      {
        "type": "text",
        "id": "instagram_url",
        "label": "Instagram URL",
        "default": "https://www.instagram.com/flutraofficial"
      },
      {
        "type": "text",
        "id": "facebook_url",
        "label": "Facebook URL",
        "default": "https://www.facebook.com/flutraofficial/"
      },
      {
        "type": "text",
        "id": "tiktok_url",
        "label": "TikTok URL",
        "default": "https://www.tiktok.com/@flutraofficial"
      }
    ],
    "presets": [
      {
        "name": "Footer"
      }
    ]
  }
{% endschema %}